[00000000000000]
RAZAO_SOCIAL=VISUAL COMÉRCIO DE EQUIPAMENTOS DE INFORMÁTICA LTDA ME
CNPJ=00000000000000
IM=00000
REMESSA=C:\Visual Informatica\nfse\remessa\00000000000000\
RETORNO=C:\Visual Informatica\nfse\retorno\00000000000000\
LOTES=C:\Visual Informatica\nfse\lotes\00000000000000\
ASSINADAS=C:\Visual Informatica\nfse\assinadas\00000000000000\
ENVELOPES=C:\Visual Informatica\nfse\envelopes\00000000000000\
CERTIFICADO=C:\Visual Informatica\NFSe\certificado\00000000000000.pem
SIGEP_USUARIO=00000000000000-00000
SIGEP_SENHA=xxxxxxx
SIGEP_CHAVE=xxxxxxx
SIGEP_ENDPOINT=http://gestaopublica.botucatu.bsit-br.com.br/integracao/services/nfseWS
RPS_NUMERO=0
RPS_LOTE=0


[11111111111111]
RAZAO_SOCIAL=NOME DA EMPRESA 2
CNPJ=11111111111111
IM=00000
REMESSA=C:\Visual Informatica\nfse\remessa\11111111111111\
RETORNO=C:\Visual Informatica\nfse\retorno\11111111111111\
LOTES=C:\Visual Informatica\nfse\lotes\11111111111111\
ASSINADAS=C:\Visual Informatica\nfse\assinadas\11111111111111\
ENVELOPES=C:\Visual Informatica\nfse\envelopes\11111111111111\
CERTIFICADO=C:\Visual Informatica\NFSe\certificado\11111111111111.pem
SIGEP_USUARIO=00000000000000-00000
SIGEP_SENHA=xxxxxxx
SIGEP_CHAVE=xxxxxxx
SIGEP_ENDPOINT=http://gestaopublica.botucatu.bsit-br.com.br/integracao/services/nfseWS
RPS_NUMERO=0
RPS_LOTE=0